*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:1rem;
}
.container{
    background-color: white;
    border-radius:20px;
    box-shadow: 0 10px 30px gray;
    width:100%;
    max-width:600px;
}
.screen{
    display: none;
    padding:2em;
    text-align: center;
}
.screen.active{
    display: block;
}

#start-screen h1{
    color:#8B5CF6;
    margin-bottom:20px;
}
#start-screen p{
    margin-bottom:20px;
}
.quiz-header{
    margin-bottom:20px;
}
#question-text{
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.answers-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 25px;
}
.answer-btn{
    background-color:#9076ce;
    color:white;
    border:2px solid black;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition:all 0.3s ease;
}
.answer-btn:hover{
    background-color:#7f4bf8;
    color:white;
    font-weight: bold;
}
.answer-btn.correct{
    color:green;
    background-color: rgb(141, 230, 141);
    border-color:brown;
}
.answer-btn.incorrect{
    color:red;
    background-color: #F08080;
    border-color:brown;
}
.progress-bar{
    height:10px;
    background-color:gray;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.progress{
    height:100%;
    width:0;
    background-color: #C71585;
    transition: width 0.4s ease;
}
#result-screen h1{
    color:#8B5CF6;
    margin-bottom: 30px;
}
.result-info{
    background-color: #ffb3ff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p{
    font-size: 1.2rem;
    color:black;
    margin-bottom: 1rem;
}
#result-message {
    font-size: 1.8rem;
    color:black;
}
button{
    background-color:#8B5CF6;
    color:white;
    border-radius: 10px;
    padding:15px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    transition:background-color 0.3s;
}
button:hover{
    background-color:#4720a0;
}